@model Marvel_of_the_Universe.Models.ViewMovie
@{
    ViewBag.Title = Model.Movie.Name;
}
<div class="container-fluid padding">
    <div class="row">
        <div class=" col-md-4">
            <img height="375" width="280" src="~/Images/Movies/@Model.Movie.Image" class="img-thumbnail" />
        </div>
        <div class="border-white card text-black-50 text-body col-md-8" style="padding:10px;">
            <p><h2 class="text-center text-danger">@Model.Movie.Name</h2></p>
            <p><h5>Genre: @Model.Movie.Genre</h5></p>
            <p><h5>Year release: @Model.Movie.YearRelease</h5></p>
            <div id="like" class="row mx-auto">
                <h4 style="padding:5px">@Model.Movie.Likes.Where(c => c.like == true).Count()</h4>
                @using (Ajax.BeginForm("LikeMovie", "Marvel", new AjaxOptions { UpdateTargetId = "like", HttpMethod = "POST" }))
                {
                    @Html.Hidden("MovieId", Model.Movie.Id)
                    <button type="submit">
                        <img src="~/Images/Like/Like.png" width="35" height="35" />
                    </button>
                }
                <h4 style="padding:5px">@Model.Movie.Likes.Where(c => c.like == false).Count()</h4>
                @using (Ajax.BeginForm("DislikeMovie", "Marvel", new AjaxOptions { UpdateTargetId = "like", HttpMethod = "POST" }))
                {
                    @Html.Hidden("MovieId", Model.Movie.Id)
                    <button type="submit">
                        <img src="~/Images/Like/Dislike.png" width="35" height="35" />
                    </button>
                }
            </div>
        </div>
    </div>
    <div id="heroes">
        <div class="row">
            @foreach (var item in Model.Heroes)
            {
                <div class="card-group col-md-4" style="padding:10px;">
                    <div class="card text-danger border-danger ">
                        <a href="@Url.Action("Heroe","Marvel", new { id = item.Id})"><img height="350" width="140"  src="~/Images/Heroes/@item.Image" class="card-img-top figure-img" /></a>
                        <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Name)</h5>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row mx-auto">
        <div class="btn-group mx-auto">
            @{
                int link = 1;
                while (link <= Model.ListInfo.TotalList)
                {
                    @Ajax.ActionLink(
                        link.ToString(),
                        "ListHeroes",
                        "Marvel",
                        new { movieId = Model.Movie.Id, list = link },
                        new AjaxOptions { UpdateTargetId = "heroes", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" },
                        new { @class = "btn btn-danger" });
                    link++;
                }
            }
        </div>
    </div>
    <div id="comments" class="row">
        @{
            foreach (var comment in Model.Movie.Comments)
            {
                <div class="col-md-12 text-white bg-danger" style="margin:5px">
                    <h3 class="text-left">@comment.UserName</h3>
                    <p><h5>@comment.Text</h5></p>
                </div>
            }
        }
    </div>
    @using (Ajax.BeginForm("NewComment", "Marvel", new AjaxOptions { UpdateTargetId = "comments", HttpMethod = "POST", InsertionMode = InsertionMode.InsertAfter }))
    {
        @Html.Hidden("Id", Model.Movie.Comments.Count + 1)
        @Html.TextArea("Text", "Comment", 5, 200, null)
        @Html.Hidden("UserName", User.Identity.Name)
        @Html.Hidden("HeroeId", null)
        @Html.Hidden("MovieId", Model.Movie.Id)
        <input type="submit" value="Send" class="text-danger">
    }
</div>
